.container__main{
  width: 70%;
  margin: 5px auto 0;
}

.main__title{
  text-align: center;
}

.main_subtitle{
  font-size: 20px;
  text-align: justify;
}


.vacancies__link{
  margin-top: 5vh;
  font-size: 30px;
  text-align: center;
  background-color: #01458a;
  cursor: pointer;

  color: white;
}

.vacancies__link:hover{
  background-color: #1f87ec;
  cursor: pointer;
}

@media (max-width:  1200px) {
}

@media (max-width:  950px) {
}

@media (max-width: 768px) {
  .main__title{
    font-size: 25px;
  }
  .main_subtitle{
    font-size: 20px;
  }
}

@media (max-width: 560px) {
  .main__title{
    font-size: 20px;
  }
  .main_subtitle{
    font-size: 15px;
  }
}

@media (max-width: 460px) {
  .main__title{
    font-size: 15px;
  }
}
