<div class='container__main'>
  <h1 class='main__title'>Інформаційна система департаменту кадрової політики МО України</h1>

  <p class='main_subtitle'>
    Кваліфіковані та вмотивовані військовослужбовці є найціннішим активом будь-якої військової структури і відіграють
    важливу роль у забезпеченні національної безпеки та оборони держави. Вони є основним стовпом, на якому спирається
    будь-яка армія або військова організація. Саме тому інсує департамент кадрової політики МО України, нижче зображено
    перелік структуру в яких ви можливо будете проходити службу:
  </p>

  <app-slider></app-slider>

  <p class='vacancies__link' routerLink='/vacancies'>Передивитись список вакансій</p>

</div>

