/* vacancy */
.vacancy{

}

.vacancy__link{
  text-decoration: none;
  color: black;
}

.vacancy:hover{
  background-color: lightblue;
}

.vacancy-line{
  color: red;
}

.vacancies__title{

}

.vacancy__subtitle{

}
