/* vacancy */
.vacancy{
  display: flex;
  justify-content: space-between;
}

.vacancy__link{
  text-decoration: none;
  color: black;
}

.vacancy__wrapper:hover{
  background-color: lightblue;
}

.vacancy-line{
  color: red;
}

.vacancies__title{

}

.vacancy__subtitle{

}

.vacancy__buttons{
}

.edit-button{
  display: block;
  margin-top: 10px;
  width: 200px;
}
