<div class='vacancy__wrapper'>
  <hr class='vacancy-line'>
  <div class='vacancy'>

    <div>
      <h1 class='vacancy__title'>{{ vacancy.structureName }}</h1>
      <p class='vacancy__subtitle'> {{ vacancy.position }} </p>
    </div>

  </div>
  <hr class='vacancy-line'>
</div>


<div>
  <p class='vacancy__present'>Відгуки на вакансію:</p>
</div>

<div class='answer' *ngFor='let answer of vacancy.answers'>
  <div>
    <p class='answer__parameter'><b>Пошта:</b> {{ answer.email }}</p>
    <p class='answer__parameter'><b>Номер телефону:</b> {{ answer.phone }}</p>
    <p class='answer__parameter'><b>ПІБ:</b> {{ answer.fullName }}</p>
  </div>

  <div class='btn__wrapper'>
    <button class='btn btn-outline-primary answer__button' (click)='deleteAnswer(answer.id)'>Видалити відповідь</button>
  </div>
</div>
