.container__my-vacancies{
  width: 80%;
  margin: 15px auto 0;
}

.my-vacancies__header{
  display: flex;
  justify-content: space-between;
}

.my-vacancies__header__title{
  font-size: 25px;
  font-weight: 700;
}

.create-button{
  width: 200px;
}

@media (max-width:  768px) {
  .my-vacancies__header__title{
    font-size: 20px;
  }

  .create-button{
    width: 170px;
    font-size: 15px;
  }
}
