/* nav */
.nav-items{
  padding: 0 2vh;
}

.nav-items-with-icon{
  display: flex;
  align-items: center;
}

.nav-item {
  font-size: 30px;
}

.navbar__icon{
  margin-left: 10px;
}

.active {
  background-color: #01458a;
  color: #fff;
  font-weight: bold;

  border-radius: 5px;

  padding: 5px;
}

/* burger menu */
.burger__container{
  display: none;
}

.burger__menu {
  justify-content: space-between;
  display: flex;

  background-color: #01458a;
  color: #fff;

  padding: 10px;
}

.navbar__icon__burger{
  padding: 5px 0;
}

.navbar__burger{
  padding-top: 10px;
}

.nav-items__burger{
  width: 75%;
  padding: 0 10px;
}

.active__burger{
  background-color: #c74c4c;
}

@media (max-width:  1350px) {
  .nav-item{
    font-size: 20px;
  }
}

@media (max-width:  950px) {
  .nav-item{
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .navbar{
    display: none;
  }

  .burger__container{
    display: block;
  }
}


